################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Debug/ConsoleA.15CFA377.tlog
/.vs/ConsoleApplication14/v16
/Debug
